.professor-top {
  margin-top: 20px;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .professor-title {
    font-family: "Jost";
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    padding-bottom: 4px;
  }

  .professor-subtitle {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8a8a8a;
  }
}
.professor-sort {
  margin-top: 6px;
  margin-bottom: 22px;
}

.professor-list {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
