* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

:root {
  --body_background: white;
  --body_color: black;
  --link_color: #1d1d1d;
}

[data-theme="dark"] {
  --body_background: #282c34;
  --body_color: white;
  --link_color: cyan;
}

body {
  margin: 0;
  font-family: "Jost", "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
